In [1]:
import pandas as pd
df = pd.read_csv("course_reviews.csv")
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   object
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: float64(4), object(2)
memory usage: 202.8+ KB

In [3]:
df[["Timestamp","Enrolled"]]=df[["Timestamp","Enrolled"]].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   datetime64[ns]
 2   Enrolled            4323 non-null   datetime64[ns]
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: datetime64[ns](2), float64(4)
memory usage: 202.8 KB

In [4]:
from datetime import date
import datetime as dt
date.today()

datetime.date(2023, 8, 9)

In [5]:
date.today().year - df["Timestamp"].dt.year

0       2
1       2
2       2
3       2
4       2
       ..
4318    4
4319    4
4320    4
4321    4
4322    4
Name: Timestamp, Length: 4323, dtype: int32

In [6]:
a=(date.today() - df["Timestamp"].dt.date)
a

0        915 days, 0:00:00
1        916 days, 0:00:00
2        916 days, 0:00:00
3        916 days, 0:00:00
4        916 days, 0:00:00
               ...
4318    1545 days, 0:00:00
4319    1546 days, 0:00:00
4320    1546 days, 0:00:00
4321    1546 days, 0:00:00
4322    1546 days, 0:00:00
Name: Timestamp, Length: 4323, dtype: object

In [7]:
a = a.astype("O")

In [8]:
a.apply(lambda x:str(x).split()[0])

0        915
1        916
2        916
3        916
4        916
        ...
4318    1545
4319    1546
4320    1546
4321    1546
4322    1546
Name: Timestamp, Length: 4323, dtype: object

In [9]:
pd.Timestamp(date.today())

Timestamp('2023-08-09 00:00:00')

In [10]:
(pd.Timestamp(date.today()) - df["Timestamp"]).dt.days

0        914
1        915
2        915
3        915
4        915
        ...
4318    1544
4319    1545
4320    1545
4321    1545
4322    1545
Name: Timestamp, Length: 4323, dtype: int64

In [11]:
pd.Timestamp("2023-09-05")

Timestamp('2023-09-05 00:00:00')

In [12]:
today_date=date.today()
today_date

datetime.date(2023, 8, 9)

In [13]:
(today_date - df["Timestamp"].dt.date)

0        915 days, 0:00:00
1        916 days, 0:00:00
2        916 days, 0:00:00
3        916 days, 0:00:00
4        916 days, 0:00:00
               ...
4318    1545 days, 0:00:00
4319    1546 days, 0:00:00
4320    1546 days, 0:00:00
4321    1546 days, 0:00:00
4322    1546 days, 0:00:00
Name: Timestamp, Length: 4323, dtype: object

In [14]:
df["Timestamp"].agg({"Timestamp":lambda date:(today_date- date.dt.date)})

Timestamp  0        915 days, 0:00:00
           1        916 days, 0:00:00
           2        916 days, 0:00:00
           3        916 days, 0:00:00
           4        916 days, 0:00:00
                          ...
           4318    1545 days, 0:00:00
           4319    1546 days, 0:00:00
           4320    1546 days, 0:00:00
           4321    1546 days, 0:00:00
           4322    1546 days, 0:00:00
Name: Timestamp, Length: 4323, dtype: object

In [15]:
df["Timestamp"].agg({"Timestamp":lambda date: (today_date-date.dt.date)})

Timestamp  0        915 days, 0:00:00
           1        916 days, 0:00:00
           2        916 days, 0:00:00
           3        916 days, 0:00:00
           4        916 days, 0:00:00
                          ...
           4318    1545 days, 0:00:00
           4319    1546 days, 0:00:00
           4320    1546 days, 0:00:00
           4321    1546 days, 0:00:00
           4322    1546 days, 0:00:00
Name: Timestamp, Length: 4323, dtype: object

In [16]:
df["Timestamp"].dt.date

0       2021-02-05
1       2021-02-04
2       2021-02-04
3       2021-02-04
4       2021-02-04
           ...
4318    2019-05-17
4319    2019-05-16
4320    2019-05-16
4321    2019-05-16
4322    2019-05-16
Name: Timestamp, Length: 4323, dtype: object

In [17]:
pd.Timestamp.now().normalize()

Timestamp('2023-08-09 00:00:00')

In [18]:
today_date = pd.Timestamp.now().normalize()
(today_date - df["Timestamp"])

0       914 days 16:14:05
1       915 days 02:54:28
2       915 days 03:25:57
3       915 days 07:03:32
4       915 days 08:59:36
              ...
4318   1544 days 14:08:16
4319   1545 days 02:32:55
4320   1545 days 03:37:34
4321   1545 days 04:10:53
4322   1545 days 10:19:25
Name: Timestamp, Length: 4323, dtype: timedelta64[ns]

In [19]:
df["Timestamp"].agg({"Timestamp":lambda date: (today_date-date).dt.days})

Timestamp  0        914
           1        915
           2        915
           3        915
           4        915
                   ...
           4318    1544
           4319    1545
           4320    1545
           4321    1545
           4322    1545
Name: Timestamp, Length: 4323, dtype: int64

In [20]:
df["a"] = df["Timestamp"].dt.date

In [21]:
df["b"] = df["Timestamp"].dt.date

In [22]:
df["b"]=pd.to_datetime(df["b"])

In [27]:
df["a"] = pd.to_datetime(df["a"])

In [28]:
df["a"]

0      2021-02-05
1      2021-02-04
2      2021-02-04
3      2021-02-04
4      2021-02-04
          ...
4318   2019-05-17
4319   2019-05-16
4320   2019-05-16
4321   2019-05-16
4322   2019-05-16
Name: a, Length: 4323, dtype: datetime64[ns]

In [29]:
(df["a"] - df["b"]).dt.days

0       0
1       0
2       0
3       0
4       0
       ..
4318    0
4319    0
4320    0
4321    0
4322    0
Length: 4323, dtype: int64

In [30]:
(today_date -df["a"]).dt.days

0        915
1        916
2        916
3        916
4        916
        ...
4318    1545
4319    1546
4320    1546
4321    1546
4322    1546
Name: a, Length: 4323, dtype: int64

In [31]:
(pd.Timestamp("2023-09-05") - df["a"]).dt.days

0        942
1        943
2        943
3        943
4        943
        ...
4318    1572
4319    1573
4320    1573
4321    1573
4322    1573
Name: a, Length: 4323, dtype: int64

In [34]:
df["a"].agg({"a":lambda date: (today_date-date).days})

a  0        915
   1        916
   2        916
   3        916
   4        916
           ...
   4318    1545
   4319    1546
   4320    1546
   4321    1546
   4322    1546
Name: a, Length: 4323, dtype: int64

In [33]:
df["a"].agg({"a":lambda date: (today_date-date).dt.days})

a  0        915
   1        916
   2        916
   3        916
   4        916
           ...
   4318    1545
   4319    1546
   4320    1546
   4321    1546
   4322    1546
Name: a, Length: 4323, dtype: int64

In [ ]:
(pd.Timestamp("2023-09-05").year - df["a"].dt.year)

0       2
1       2
2       2
3       2
4       2
       ..
4318    4
4319    4
4320    4
4321    4
4322    4
Name: a, Length: 4323, dtype: int32

In [ ]:
(today_date.year - df["Timestamp"].dt.year) * 12 + today_date.month - df["Timestamp"].dt.month

0       30
1       30
2       30
3       30
4       30
        ..
4318    51
4319    51
4320    51
4321    51
4322    51
Name: Timestamp, Length: 4323, dtype: int32

In [ ]:
df["Timestamp"].dt.day_name()

0         Friday
1       Thursday
2       Thursday
3       Thursday
4       Thursday
          ...
4318      Friday
4319    Thursday
4320    Thursday
4321    Thursday
4322    Thursday
Name: Timestamp, Length: 4323, dtype: object

In [ ]:
df = pd.read_csv("titanic.csv")

In [ ]:
df["new_age_pclass"] = df["Age"] * df["Pclass"]

In [ ]:
df["new_family_size"] = df["SibSp"] + df["Parch"] + 1

In [ ]:
df.loc[(df["Sex"]=="male") & (df["Age"]<=21),"new_sex_cat"] = "youngmale"
df.loc[(df["Sex"]=="male") & (df["Age"]>21) & (df["Age"]<=50),"new_sex_cat"] = "maturemale"
df.loc[(df["Sex"]=="male") & (df["Age"]>50),"new_sex_cat"] = "seniormale"

df.loc[(df["Sex"]=="female") & (df["Age"]<=21),"new_sex_cat"] = "youngfemale"
df.loc[(df["Sex"]=="female") & (df["Age"]>21) & (df["Age"]<=50),"new_sex_cat"] = "maturefemale"
df.loc[(df["Sex"]=="female") & (df["Age"]>50),"new_sex_cat"] = "seniorfemale"

In [ ]:
df.groupby("new_sex_cat").agg({"Survived":["mean","count"]})

              Survived
                  mean count
new_sex_cat
maturefemale  0.775000   160
maturemale    0.199301   286
seniorfemale  0.941176    17
seniormale    0.127660    47
youngfemale   0.678571    84
youngmale     0.250000   120

In [ ]:
df["Name"].str.extract(" ([A-Za-z]+).",expand=False)

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886     Rev
887    Miss
888    Miss
889      Mr
890      Mr
Name: Name, Length: 891, dtype: object